<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.cfs.mapper.ConsumeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.platform.cfs.entity.ConsumeRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="discount" property="discount" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, balance, frequency, last_time, discount
  </sql>
  <sql id="Base_Where_Clause">
    <where>
      1=1
      <if test="id != null and id !=''" >
        and id = #{id}
      </if>
      <if test="userId != null and userId !=''" >
        and user_id = #{userId}
      </if>
      <if test="balance != null and balance !=''" >
        and balance = #{balance}
      </if>
      <if test="frequency != null " >
        and frequency = #{frequency}
      </if>
      <if test="discount != null and discount !=''" >
        and discount = #{discount}
      </if>

      <if test="startTime != null and startTime!=''" >
        and last_time <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null and endTime!=''" >
        and last_time <![CDATA[<=]]> #{endTime}
      </if>

    </where>
  </sql>

  <insert id="save"  parameterType="com.platform.cfs.entity.ConsumeRecord" >
    insert into  consume_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null and id !=''" >
        id,
      </if>
      <if test="userId != null and userId !=''" >
        user_id,
      </if>
      <if test="balance != null and balance !=''" >
        balance,
      </if>
      <if test="frequency != null " >
        frequency,
      </if>
      <if test="lastTime != null " >
        last_time,
      </if>
      <if test="discount != null and discount !=''" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null and id !=''" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId !=''" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="balance != null and balance !=''" >
        #{balance,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null " >
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null " >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="discount != null and discount !=''" >
        #{discount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.platform.cfs.entity.ConsumeRecord" >
    update  consume_record
    <set>
      <if test="userId != null and userId !=''" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="balance != null and balance !=''" >
        balance = #{balance,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null " >
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null " >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="discount != null and discount !=''" >
        discount = #{discount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="edit" parameterType="com.platform.cfs.entity.ConsumeRecord" >
    update  consume_record
    <set>
        user_id = #{userId,jdbcType=VARCHAR},
        balance = #{balance,jdbcType=VARCHAR},
        frequency = #{frequency,jdbcType=INTEGER},
        discount = #{discount,jdbcType=VARCHAR},
    </set>
    where id = #{id}
  </update>


  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from consume_record
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.platform.cfs.entity.ConsumeRecord" >
    select
    <include refid="Base_Column_List" />
    from consume_record
    <include refid="Base_Where_Clause" />
  </select>

  <select id="queryUserAndList" resultMap="BaseResultMap" parameterType="com.platform.cfs.entity.ConsumeRecord" >
    select   c.id, c.user_id, c.balance, c.frequency, c.last_time, c.discount,t.`name`,t.mobile
    from consume_record c, system_user t where c.user_id = t.id
    <if test="startTime != null and startTime!=''" >
      and c.last_time <![CDATA[>=]]> #{startTime}
    </if>
    <if test="endTime != null and endTime!=''" >
      and c.last_time <![CDATA[<=]]> #{endTime}
    </if>

  </select>


  <delete id="delete" parameterType="com.platform.cfs.entity.ConsumeRecord">
    delete from consume_record where 1=2 or id = #{id}
  </delete>
  
</mapper>